.divider {
  height: 250px;
  width: 100vw;
  // background-color: #00125C;
  background-image: url('./../images/sun3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.6);

  .tint-divider {
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    background-attachment: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    height: 250px;
  }

}
