.projects {
  // background-image: url('./../images/sun4.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 2vh;

  h3 {
    color: #B7390B;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    padding-top: 10vh;
  }

  .project-container {
    width: 60vw;
    height: 60vh;
    color: white;
    background-color: #65a6e8;
    margin: 10vh auto 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


    .project-list {
      text-align: center;
      padding-top: 3vh;

      .project-item {
        display: inline-block;
        margin: 3vh 3vh 0;
        text-align: center;

          img {
            height: 175px;
            width: 250px;
            transform-style: preserve-3d;
            transition: all 0.8s ease-in-out;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

          }

          img:hover {
            transform: rotateY(540deg);
          }
        .project-desc {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1760px) {
  .project-container {
    img {
      height: 300px !important;
      width: 400px !important;
    }
  }
}

// @media (max-width: 1760px; min-width: )
