.projects {
  background-image: url('./../images/sun4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;

  h3 {
    color: white;
    text-align: center;
    font-size: 1.7em;
    padding-top: 5vh;
  }

  .project-container {
    width: 70vw;
    height: 80vh;
    color: white;
    margin: 10vh auto 0;

    .project-list {
      text-align: center;

      .project-item {
        display: inline-block;
        margin: 2vh 3vh 0;
        text-align: center;

          img {
            height: 175px;
            width: 250px;
            border-radius: 20px;
            transform-style: preserve-3d;
            transition: all 0.8s ease-in-out;
            perspective: 500;
          }

          img:hover {
            transform: rotateY(540deg);
          }
        .project-desc {
          display: none;
        }
      }
    }
  }
}
