/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

.home {
  background-color: #fff;
  width: 100%;
  height: 100%; }
  .home .container-home {
    background-color: #246ad0;
    width: 40%;
    height: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .home .centered {
    margin: 20% auto 0; }
  .home .top-margin {
    margin-top: 20%; }
  .home .cvs {
    margin: 0 auto;
    width: 200px; }
  .home .name {
    width: 35vw;
    height: 15vh;
    margin: 0 auto;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding-top: 14%;
    border-radius: 3px;
    line-height: 1.3em; }
    .home .name div {
      font-size: .8em; }
    .home .name p {
      font-size: .6em; }

.home-slide {
  transform: translateX(18vw);
  transition: all 1.3s ease-in-out;
  display: inline-block; }

.face {
  height: 375px;
  width: 375px;
  margin-left: 3.5vw;
  background-image: url("./../images/BG.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  border: 2px solid #246ad0;
  animation: fadein 3s;
  display: inline-block;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (max-width: 400px) and (orientation: portrait) {
  .home .face {
    height: 125px;
    width: 125px;
    margin-bottom: 3%; }
  .home .container-home {
    margin-top: 40%;
    height: 35%;
    width: 45%; }
  .home .name {
    font-size: 1em;
    padding-top: 1vh;
    line-height: 1.1em; }
  .home .home-slide {
    transform: translateX(12%); }
  .home .cvs {
    zoom: .3;
    padding-top: 35%; } }

@media (max-width: 641px) and (orientation: landscape) {
  .home .face {
    height: 125px;
    width: 125px;
    margin-left: 5%; }
  .home .container-home {
    margin-top: 20%;
    height: 45%;
    width: 45%; }
  .home .name {
    font-size: 1em;
    padding-top: 1vh;
    line-height: 1.1em; }
  .home .home-slide {
    transform: translateX(45%); }
  .home .cvs {
    zoom: .4;
    padding-top: 7%; } }

@media (max-width: 500px) and (min-width: 401px) and (orientation: portrait) {
  .home .face {
    height: 125px;
    width: 125px;
    margin-bottom: 2vh;
    margin-left: 5%; }
  .home .container-home {
    margin-top: 40%;
    height: 30%;
    width: 45%; }
  .home .name {
    font-size: 1em;
    padding-top: 1vh;
    line-height: 1.1em; }
  .home .home-slide {
    transform: translateX(10vw); }
  .home .cvs {
    zoom: .4;
    padding-top: 10%; } }

@media (max-width: 737px) and (min-width: 666px) and (orientation: landscape) {
  .home .face {
    height: 175px;
    width: 175px;
    margin-left: 5%;
    margin-bottom: -2%; }
  .home .container-home {
    margin-top: 20%;
    height: 45%;
    width: 45%; }
  .home .name {
    font-size: 1em;
    padding-top: 1vh;
    line-height: 1.1em; }
  .home .home-slide {
    transform: translateX(42%); }
  .home .cvs {
    zoom: .4;
    padding-top: 7%; }
  .projects .project-container {
    height: 65vh;
    width: 75vw; }
    .projects .project-container .project-list .project-item {
      margin: 2vh 2vw 0;
      height: 125px;
      width: 200px; }
      .projects .project-container .project-list .project-item .container .front img {
        height: 125px;
        width: 200px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); } }

@media (max-width: 1025px) and (min-width: 730px) and (orientation: portrait) {
  .home .container-home {
    height: 40%; }
  .home .home-slide {
    transform: translateX(17vw); }
  .home .name {
    font-size: 1.2em;
    padding-top: 4vh;
    line-height: 1.1em; }
  .home .face {
    height: 250px;
    width: 250px;
    margin-left: 6vw; }
  .home .cvs {
    zoom: .5;
    margin-top: 6%; } }

@media (max-width: 729px) and (min-width: 501px) and (orientation: portrait) {
  .home .container-home {
    height: 35%; }
  .home .home-slide {
    transform: translateX(10vw); }
  .home .name {
    font-size: 1.2em;
    padding-top: 4vh;
    line-height: 1.1em; }
  .home .face {
    height: 200px;
    width: 200px;
    margin-left: 5vw; }
  .home .cvs {
    zoom: .5;
    margin-top: 6%; } }

@media (max-width: 1025px) and (min-width: 800px) and (orientation: landscape) {
  .home .container-home {
    height: 40%; }
  .home .home-slide {
    transform: translateX(17vw); }
  .home .face {
    height: 250px;
    width: 250px;
    margin-bottom: 8vh;
    margin-left: 6vw; }
  .home .cvs {
    zoom: .5;
    margin-top: 6%; } }

.about-bg {
  background-color: #fff;
  width: 100%;
  min-height: 100%; }
  .about-bg h3 {
    color: #B7390B;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    padding-top: 15%; }
  .about-bg .about {
    width: 70%;
    height: 70%;
    margin: 3% auto 0;
    color: white;
    position: relative; }
    .about-bg .about .about-card {
      height: 260px;
      width: 260px;
      font-size: 1.2em;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      text-align: center;
      line-height: 1.2em;
      display: inline-block;
      padding: 2%; }
    .about-bg .about .p-card1 {
      position: absolute;
      top: -100px;
      left: -100px;
      background-color: #e0a056; }
    .about-bg .about .p-card2 {
      position: absolute;
      top: -100px;
      right: -100px;
      background-color: #65A6E8; }
    .about-bg .about .p-card3 {
      position: absolute;
      bottom: -100px;
      left: -100px;
      background-color: #824328; }
    .about-bg .about .p-card4 {
      position: absolute;
      bottom: -100px;
      right: -100px;
      background-color: #B7390B; }
    .about-bg .about .hidden {
      display: none; }

.fadein {
  animation: fadein 2.7s; }

.card-slide1 {
  transform: translate(100px, 100px);
  transition: all 1.5s ease-in-out; }

.card-slide2 {
  transform: translate(-100px, 100px);
  transition: all 1.5s ease-in-out; }

.card-slide3 {
  transform: translate(100px, -100px);
  transition: all 1.5s ease-in-out; }

.card-slide4 {
  transform: translate(-100px, -100px);
  transition: all 1.5s ease-in-out; }

@media (max-width: 400px) and (orientation: portrait) {
  .about-bg .about .about-card {
    height: 200px;
    width: 200px;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.1em; }
  .about-bg .about .p-card1 {
    position: static;
    background-color: #e0a056; }
  .about-bg .about .p-card2 {
    position: static;
    background-color: #65A6E8; }
  .about-bg .about .p-card3 {
    position: static;
    background-color: #824328; }
  .about-bg .about .p-card4 {
    position: static;
    background-color: #B7390B; }
  .about-bg .about .card-slide1 {
    transform: translate(0px, 0px);
    transition: all 1.5s ease-in-out; }
  .about-bg .about .card-slide2 {
    transform: translate(0px, 0px);
    transition: all 1.5s ease-in-out; }
  .about-bg .about .card-slide3 {
    transform: translate(0px, 0px);
    transition: all 1.5s ease-in-out; }
  .about-bg .about .card-slide4 {
    transform: translate(0px, 0px);
    transition: all 1.5s ease-in-out; } }

.contact {
  background-color: #246ad0;
  height: 43px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.22); }
  .contact .gmail img {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 10px;
    right: 12px; }
  .contact .linkedin img {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 10px;
    right: 92px; }
  .contact .github img {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 10px;
    right: 52px; }
  .contact .resume {
    position: fixed;
    top: 15px;
    right: 132px; }
    .contact .resume a {
      text-decoration: none;
      color: white; }

.projects {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 2vh; }
  .projects h3 {
    color: #B7390B;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    padding-top: 10vh; }
  .projects .project-container {
    width: 60vw;
    height: 60vh;
    background-color: #65a6e8;
    margin: 10vh auto 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    .projects .project-container .project-list {
      text-align: center; }
      .projects .project-container .project-list .project-item {
        height: 175px;
        width: 250px;
        position: relative;
        display: inline-block;
        margin: 5vh 3vw 0; }
        .projects .project-container .project-list .project-item .container {
          height: 100%;
          width: 100%;
          transform-style: preserve-3d;
          transition: all 0.4s linear; }
          .projects .project-container .project-list .project-item .container .front {
            position: absolute;
            height: 100%;
            width: 100%;
            backface-visibility: hidden; }
            .projects .project-container .project-list .project-item .container .front img {
              height: 175px;
              width: 250px;
              box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
        .projects .project-container .project-list .project-item .project-desc.front {
          display: block;
          transform: rotateY(180deg);
          transition-delay: 1.0s;
          box-sizing: border-box;
          color: white;
          text-align: center;
          background-color: rgba(255, 255, 255, 0.3);
          padding: 1vh; }
          .projects .project-container .project-list .project-item .project-desc.front .desc {
            width: 100%;
            height: 80%; }
          .projects .project-container .project-list .project-item .project-desc.front .links {
            height: 20%; }
            .projects .project-container .project-list .project-item .project-desc.front .links a {
              text-decoration: none;
              color: white; }
              .projects .project-container .project-list .project-item .project-desc.front .links a .source {
                outline: 1px solid black;
                margin: 0 auto;
                padding: 2%;
                display: inline-block;
                width: 30%; }
              .projects .project-container .project-list .project-item .project-desc.front .links a .floatl {
                float: left;
                margin-left: 2%; }
              .projects .project-container .project-list .project-item .project-desc.front .links a .floatr {
                float: right;
                margin-right: 2%; }
            .projects .project-container .project-list .project-item .project-desc.front .links a:hover {
              color: black; }
              .projects .project-container .project-list .project-item .project-desc.front .links a:hover .source {
                background-color: rgba(255, 255, 255, 0.8); }
      .projects .project-container .project-list .project-item:hover .container {
        transform: rotateY(180deg);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

@media (min-width: 1760px) {
  .project-container img {
    height: 300px;
    width: 400px; } }

.divider {
  height: 250px;
  width: 100%;
  background-image: url("./../images/sun1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 10px 7px rgba(0, 0, 0, 0.4); }
  .divider .tint-divider {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    background-attachment: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 250px; }
