/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  font-family: 'Roboto', sans-serif;
  height: 100vh; }

.home {
  background-image: url("./images/sun1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .home .cvs {
    margin: 0 auto;
    width: 202px; }
  .home .name {
    width: 40vw;
    height: 20vh;
    margin: 0 auto;
    color: white;
    font-size: 1.8em;
    text-align: center;
    padding-top: 20vh;
    border-radius: 3px;
    line-height: 1.3em;
    position: relative;
    background-attachment: fixed; }
    .home .name div {
      font-size: .8em; }
    .home .name p {
      font-size: .6em; }

.contact .gmail img {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 10px;
  right: 10px; }

.contact .linkedin img {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 10px;
  right: 90px; }

.contact .github img {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 10px;
  right: 50px; }

.contact .resume {
  position: fixed;
  top: 15px;
  right: 130px; }
  .contact .resume a {
    text-decoration: none;
    color: white; }

@media only screen and (max-device-width: 1024px) {
  .home {
    background-attachment: scroll; } }

.about-bg {
  background-image: url("./images/sun2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%; }
  .about-bg h1 {
    font-size: 1.8em;
    text-align: center;
    color: white; }
  .about-bg .about {
    width: 60vw;
    height: 80vh;
    margin: 3vh auto 0;
    color: white;
    font-size: 1.05em;
    text-align: justify;
    padding-top: 10vh;
    border-radius: 5px;
    line-height: 1.5em;
    overflow: auto;
    padding: 15px; }
    .about-bg .about span {
      font-size: 1.4em;
      margin-right: 7px; }
    .about-bg .about .logo {
      margin: 0 auto;
      text-align: center; }
    .about-bg .about img {
      width: 5vw;
      height: 5vw;
      text-align: center;
      margin: 0 13vw; }

.about-pin {
  background-attachment: fixed; }

.tint {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  background-attachment: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh; }

.projects {
  background-image: url("./images/sun4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%; }
  .projects h3 {
    color: white;
    text-align: center;
    font-size: 1.7em;
    padding-top: 4vh; }
  .projects .project-container {
    width: 70vw;
    height: 85vh;
    color: white;
    margin: 5vh auto 0;
    overflow: auto; }
    .projects .project-container .project-list {
      text-align: center; }
      .projects .project-container .project-list .project-item {
        margin: 30vh auto 0;
        height: 25vh;
        padding: 2vh;
        display: inline; }
        .projects .project-container .project-list .project-item img {
          height: 175px;
          width: 250px; }
        .projects .project-container .project-list .project-item .project-desc {
          display: none; }

.divider {
  height: 250px;
  width: 100vw;
  background-image: url("./images/sun3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.6); }
  .divider .tint-divider {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    background-attachment: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 250px; }
