body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%; }

.home {
  background-color: #fff;
  width: 100%;
  height: 100%; }

.home .container-home {
  background-color: #246ad0;
  width: 40%;
  height: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.home .centered {
  margin: 15% auto 0; }

.home .top-margin {
  margin-top: 15%; }

.home .cvs {
  margin: 0 auto;
  width: 200px; }

.home .name {
  width: 35vw;
  height: 15vh;
  margin: 0 auto;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding-top: 14%;
  border-radius: 3px;
  line-height: 1.3em; }

.home .name div {
  font-size: .8em; }

.home .name p {
  font-size: .6em; }

.home-slide {
  -webkit-transform: translateX(45%);
          transform: translateX(45%);
  transition: all 1.3s ease-in-out;
  display: inline-block; }

.face {
  height: 375px;
  width: 375px;
  margin-left: 7%;
  background-image: url("./../images/BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  border: 2px solid #246ad0;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
  display: inline-block;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 400px) and (orientation: portrait) {
  .home .face {
    height: 125px;
    width: 125px;
    margin-bottom: 3%;
    margin-left: 5%; }
  .home .container-home {
    margin-top: 40%;
    height: 35%;
    width: 45%; }
  .home .name {
    font-size: 1em;
    padding-top: 1vh;
    line-height: 1.1em; }
  .home .home-slide {
    -webkit-transform: translateX(15%);
            transform: translateX(15%); }
  .home .cvs {
    zoom: .3;
    padding-top: 35%; } }

@media screen and (max-width: 641px) and (orientation: landscape) {
  .home .face {
    height: 125px;
    width: 125px;
    margin-left: 5%; }
  .home .container-home {
    margin-top: 20%;
    height: 45%;
    width: 45%; }
  .home .name {
    font-size: 1em;
    padding-top: 1vh;
    line-height: 1.1em; }
  .home .home-slide {
    -webkit-transform: translateX(45%);
            transform: translateX(45%); }
  .home .cvs {
    zoom: .4;
    padding-top: 7%; } }

@media screen and (max-width: 500px) and (min-width: 401px) and (orientation: portrait) {
  .home .face {
    height: 125px;
    width: 125px;
    margin-bottom: 2vh;
    margin-left: 5%; }
  .home .container-home {
    margin-top: 40%;
    height: 35%;
    width: 45%; }
  .home .name {
    font-size: 1em;
    padding-top: 1vh;
    line-height: 1.1em; }
  .home .home-slide {
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw); }
  .home .cvs {
    zoom: .4;
    padding-top: 10%; } }

@media screen and (max-width: 799px) and (min-width: 666px) and (orientation: landscape) {
  .home .face {
    height: 175px;
    width: 175px;
    margin-left: 5%;
    margin-bottom: -2%; }
  .home .container-home {
    margin-top: 20%;
    height: 50%;
    width: 45%; }
  .home .name {
    font-size: 1em;
    padding-top: 1vh;
    line-height: 1.1em; }
  .home .home-slide {
    -webkit-transform: translateX(42%);
            transform: translateX(42%); }
  .home .cvs {
    zoom: .4;
    padding-top: 5%; } }

@media screen and (max-width: 768px) and (min-width: 501px) and (orientation: portrait) {
  .home .container-home {
    height: 40%; }
  .home .home-slide {
    -webkit-transform: translateX(35%);
            transform: translateX(35%); }
  .home .name {
    font-size: 1.2em;
    padding-top: 4vh;
    line-height: 1.3em; }
  .home .name h1 {
    font-size: 1.3em; }
  .home .name div {
    font-size: 1em; }
  .home .name p {
    font-size: .9em; }
  .home .face {
    height: 225px;
    width: 225px;
    margin-left: 7%;
    margin-bottom: 4%; }
  .home .cvs {
    zoom: .7; } }

@media screen and (max-width: 1025px) and (min-width: 769px) and (orientation: portrait) {
  .home .container-home {
    height: 35%; }
  .home .home-slide {
    -webkit-transform: translateX(40%);
            transform: translateX(40%); }
  .home .name {
    font-size: 1.2em;
    padding-top: 4vh;
    line-height: 1.2em; }
  .home .name h1 {
    font-size: 1.4em; }
  .home .name div {
    font-size: 1.1em; }
  .home .name p {
    font-size: 1em; }
  .home .face {
    height: 250px;
    width: 250px;
    margin-bottom: 10%;
    margin-left: 10%; }
  .home .cvs {
    padding-top: 5%; } }

@media screen and (max-width: 1025px) and (min-width: 800px) and (orientation: landscape) {
  .home .container-home {
    height: 45%; }
  .home .home-slide {
    -webkit-transform: translateX(17vw);
            transform: translateX(17vw); }
  .home .name {
    font-size: 1.4em;
    line-height: 1.2em; }
  .home .face {
    height: 250px;
    width: 250px;
    margin-left: 6vw; }
  .home .cvs {
    zoom: .5;
    margin-top: 3%; } }

@media screen and (min-width: 1500px) {
  .home .container-home .name h1 {
    font-size: 1.5em; }
  .home .container-home .name div {
    font-size: 1.3em; }
  .home .container-home .name p {
    font-size: 1.2em; }
  .home .home-slide {
    -webkit-transform: translateX(60%);
            transform: translateX(60%); }
  .home .face {
    margin-left: 10%; } }

@media screen and (min-width: 2000px) {
  .home .container-home .name {
    color: red; }
  .home .container-home .name h1 {
    font-size: 1.5em; }
  .home .container-home .name div {
    font-size: 1.3em; }
  .home .container-home .name p {
    font-size: 1.2em; }
  .home .home-slide {
    -webkit-transform: translateX(60%);
            transform: translateX(60%); }
  .home .face {
    margin-left: 10%; } }
