.projects {
  background-image: url("./../images/sun4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%; }

.projects h3 {
  color: white;
  text-align: center;
  font-size: 1.7em;
  padding-top: 5vh; }

.projects .project-container {
  width: 70vw;
  height: 80vh;
  color: white;
  margin: 10vh auto 0; }

.projects .project-container .project-list {
  text-align: center; }

.projects .project-container .project-list .project-item {
  display: inline-block;
  margin: 2vh 3vh 0;
  text-align: center; }

.projects .project-container .project-list .project-item img {
  height: 175px;
  width: 250px;
  border-radius: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -webkit-perspective: 500;
          perspective: 500; }

.projects .project-container .project-list .project-item img:hover {
  -webkit-transform: rotateY(540deg);
          transform: rotateY(540deg); }

.projects .project-container .project-list .project-item .project-desc {
  display: none; }
